@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 400;
}

nav {
    border-bottom: 2px solid gray !important;
}

a {
    font-weight: 700;
}

.entryForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20vh 30% 0 30%;
    justify-content: center;
    flex-wrap: nowrap;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 5% !important;
    color: #79426A !important;
    font-weight: 700 !important;
}

.formTitle {
    color: gray;
}

.textBox {
    background: lightgrey;
    border: none;
    border-bottom: 2px solid gray;
    margin: 1em 0;
    height: 50px;
}

#buttonDiv {
    margin-top: 2em;
    height: auto;
    display: flex;
    justify-content: center;
}

.formSubmit {
    border: 2px solid #007F97;
    border-radius: 80px;
    padding: 2em;
    width: 40vw;
    height: 10vh;
    margin: 0 2.5vw;
    text-align: center;
    vertical-align: center;
    color: #007F97;
}

.buttonActive {
    border: none;
    background-color: #007F97;
    color: white;
}

.formSubmit:hover {
    text-decoration: none;
    background-color: #007F97;
    color: white;
}

.buttonActive:hover {
    text-decoration: none;
}