@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* LOGIN AND SIGNIN PAGES */

a {
    font-weight: 700;
}


/* Grid Alignment Webpage*/

#leftGrid {
    grid-area: leftmost;
}

#mainGrid {
    grid-area: main;
}

#headerBar {
    grid-area: header;
}

#gridContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    /* #grid templates are the best */
    grid-template-areas: 
    'header' 
    'main' 
    'main';
    /* mostly to leave room for a footer if we wanted to work on error messages */
    grid-template-rows: 8vh auto;
}

#accountContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    /* #grid templates are the best */
    grid-template-areas: 
    'header' 
    'main' 
    'main';
    background-color: #F4F4F4;
    grid-template-rows: 8vh auto;
}


/* Header */

#headerBar {
    height: 8vh;
    min-height: 50px;
    margin: 0;
    background-color: #79426A;
    border-radius: 0;
}

nav {
    border-bottom: 2px solid gray !important;
}

#posts {
    color: black;
}


/* Left Grid */

#mainGrid {	
    display: flex;	
    justify-content: center;	
    align-content: center;	
    height: 100%;	
}

.main {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.entryForm {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    justify-content: center;
    flex-wrap: nowrap;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #79426A !important;
    font-weight: 700 !important;
}

.formTitle {
    color: gray;
    margin: 10px 10px 0;
}

.textBox {
    background: lightgrey;
    border: none;
    border-radius: 50px;
    margin: 10px 0 0;
    height: 50px;
    padding: 0 25px;
}
.textBox:focus{
    outline:none;
}

#buttonDiv {
    margin-top: 2em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.formSubmit {
    border: 2px solid #79426A;
    border-radius: 50px;
    height: 50px;
    padding: 15px;
    text-align: center;
    color: #79426A;
    margin: 10px 0 0;
}

.buttonActive {
    border: none;
    background-color:#79426A;
    color: white;
}

.formSubmit:hover {
    text-decoration: none;
    background-color:#79426A;
    color: white;
}

.buttonActive:hover {
    text-decoration: none;
}


/* APP PAGE */

.addButton {
    background-color: #79426A!important;
    border-radius: 26px;
    padding: 10px;
    color: #ffffff;
}

.addIngredientButton {
    background-color: #BFE8F0 !important;
    border: none !important;
    color: black !important;
    box-shadow: none !important;
}

.addFoodForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
}

#listed {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#inputPassword2 {
    border-radius: 50px !important;
    background-color: #F2F2F2 !important;
}

.ingredItem {
    background-color: #F2F2F2;
    color: black;
    border: none;
    width: 10%;
    padding: 1em;
    text-align: center;
}

.ingredItem:hover {
    background-color: red;
}


/* cards */

.card {
    margin: 30px;
    padding-top: 20px;
    background-color: #FFFFFF;
    min-width: 400px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
#flexcard h2 {
    font-size: 20px;
    font-weight: 700;
}
#flexCard{
    width: 40vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
 justify-items: center;
    text-align: center;
}
#flexCard div{
    margin: 0;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mealCards {
    display: flex;
    flex-flow: row wrap;
}

.card input {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 7px 20px 7px 15px;
    max-height: 35px;
}

.card input:focus, .addIngButt:focus{
    outline: none;
}

.addIngButt {
    padding: 9px 10px 8px 7px;
    font-size: 27px;
    border-radius: 25px;

    background-color: #007F97;
    color: white;
    border: 4px solid white;

    position: relative;
    left: -20px;
}

#remTap {
    color: #9F9f9f;
    align-items: center;
    text-align: center;
}

/* Tablet */

@media screen and (max-width: 1000px) {
    
}

/* Mobile */

@media screen and (max-width: 400px) {
    .formTitle{
        visibility: hidden;
        height: 0;
    }

    #buttonDiv .formTitle{
        visibility: visible;
        height: inherit;
    }
}